html {
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    line-height: 1.5;
    word-spacing: 1px;
    letter-spacing: 1px
}

body,html {
    height: 100%
}

a {
    color: #1296db;
    text-decoration: none;
    font-weight: 500
}

a:hover {
    text-decoration: underline
}

input[type=text] {
    -webkit-appearance: none
}

.inner-block {
    width: 1000px
}

@media (max-width: 700px) {
    .inner-block {
        width:100%
    }
}
#__layout, #__nuxt, .nuxt-wrap {
    height: 100%;
}
body, html {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.index-page {
    padding-top: 100px;
    height: 100%;
}
.logo-wrap {
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: center;
}
.logo-wrap .logo {
    height: 36px;
    margin-right: 5px;
}
.logo-wrap h1 {
    display: inline-block;
    color: #1296db;
}
.form-wrap {
    max-width: 600px;
    min-height: 50px;
    margin: 30px auto;
}
.search-form {
    position: relative;
    display: inline-block;
    width: 100%;
}
.search-form .input {
    width: 100%;
    font-size: 15px;
    border-radius: 30px;
    height: 46px;
    padding-left: 20px;
    padding-right: 50px;
    outline: none;
    border: 1px solid #ddd;
    transition: all .3s ease;
}
.search-form .search-button {
    display: inline-block;
    position: absolute;
    height: 40px;
    width: 60px;
    right: 1px;
    top: 3px;
    z-index: 2;
    outline: none;
    border: none;
    cursor: pointer;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: #fff url(img/search.png) no-repeat 20px;
    background-size: 20px 20px;
}
.hot-wrap{
    max-width: 1028px;
    min-height: 50px;
    margin: 30px auto;
    margin-bottom: 10px;
}
#hot .inner{
    font-size: 0;
    margin-right: -10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#hot .hot-item{
    font-size: 13px;
    padding: 6px 15px;
    border-radius: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    transition: all .2s ease;
    color: #1296db;
    background-color: #f5f5f5;
}

#hot .hot-item:hover {
    color: #fff;
    background-color: #0f87c5
}
#hot .hot-item img {
    vertical-align: text-bottom;
    height: 20px;
    padding-right: 3px;
    width: auto;
    overflow: hidden;
}
#hot .hot-item img{transform:scale(1,1);transition: all 0.5s ease-out;}
#hot .hot-item img:hover{transform:scale(13,13) !important;}
.ads{
    display: flex;
    justify-content: center;
}
.index-footer {
    position: absolute;
    left: 0;
    right: 0;
}

.copyright-wrap {
    font-size: 12px;
    color: #666;
    text-align: center;
    padding: 15px
}

.copyright-wrap p {
    margin-bottom: 5px
}

.copyright-wrap p:last-child {
    margin-bottom: 0
}

.copyright-wrap .em {
    font-weight: 700
}

.copyright-wrap a {
    color: inherit
}

.copyright-wrap .friend-link {
    margin-right: 10px
}
@media (max-width: 700px) {
    .index-page {
        height:auto;
        padding-top: 40px
    }

    .index-page .index-footer {
        position: static
    }

    .form-wrap[data-v-2e103d08],.hot-wrap,.logo-wrap {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0 10px
    }

    .google-ad {
        display: none
    }

    .google-ad-min {
        display: block;
        max-width: 600px;
        margin: 30px auto;
        text-align: center
    }

    .search-ads {
        display: none
    }

    .ads {
        padding: 0 10px
    }

    .ads>img {
        width: 100%;
        height: 220px
    }
}
